/*esta un manera de colocar imagenes*/
body{
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBtiTgJdbz-uYCXmQASKY1--8HCz6v7jvMTg&usqp=CAU");
    /*esto nos permite hacer quem la imagen quede en una posicion o se mueva*/
    background-attachment: scroll;  
    /*esto hacer que una imagen no se repita*/
    background-repeat:no-repeat; 
    /*nos permite posiionar las imagenes de un fondo*/
    background-position: 55% 100px ;
}

 /* 
 unidades de medidas relativas
 1:em esquivale los pelex que tenga el elemento padre 

 */


p{
    font-size: 2em;
}
 
/* exiten mas de una manera de colocar un borde
1 solid
2 dotted
investiga para ver nuevas formas
*/

/* consejo cunado uses height siempre calcula la medida de los margin y paddons */

.cotenedor{
    background: rgb(128, 55, 245);
    width: 500px;
  /* cuando coloque una propiedad de magirn o padding siempre recuerda que izquierdad es arriba y abajo depues derecha son los laterales*/ 
    margin: 20px 30px; 
    border: 1px dotted blanchedalmond;
}