*{
    margin: 0;
    padding: 0;
}

.cabeza{
    background: orange;
    width: 80%;
    margin: 10px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.secceciones{
    padding: 10px;
    width: 25rem;
}

.lateral{
    background: green;
    height: 320px;
    width: 190px;
    grid-column: 3/3 ;
}

.slayder{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF_SHvVTTvC1k1HYqa30WE-2Ft1N1SkknleA&usqp=CAU");
    background-repeat:no-repeat ;
    height: 150px;
    width: 450px;
}

.slayder p{
    color: aliceblue;
}